.directors{
    background-color: $deep-jungle-green;
    padding: 14rem 0;
    position: relative;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            font-size: 4.8rem;
            font-weight: 700;
            text-transform: capitalize;
            color: $white-color;
            margin-bottom: 6.4rem;
        }
        .directors__list{
            display: flex;
            flex-wrap: wrap;
            align-content: baseline;
            gap: 3rem;
            .directors__list__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 35rem;
                height: 25.3rem;
                padding: 3.2rem 2.4rem;
                background-color: $sacramento-state-green;
                margin-bottom: 7.6rem;
                img{
                    width: 9.6rem;
                    height: 9.6rem;
                    margin-bottom: 1.6rem;
                }
                .director__name,
                .director__title{
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: $rapture-blue;
                    line-height: 2.8rem;
                    text-align: center;
                }
                .director__job,
                .director__social__media_desc{
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 2.5rem;
                    color: $white-color;
                    text-align: center;
                    font-style: italic;
                }
                .director__social__media_desc{
                    width: 25.4rem;
                    font-style: normal;
                    text-align: center;
                    margin-top: .8rem;
                    margin-bottom: 2.4rem;
                }
                .social__media{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 2.4rem;
                    a{
                        color: $white-color;
                        transition: color .3s ease-in-out;
                    }
                    a:hover{
                        color: $light-color;
                        transition: color .3s ease-in-out;
                    }
                }
            }
        }
    }
    .container::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10rem;
        height: 20rem;
        background: url(../../assets/images/about/group-2.png) no-repeat;
    }
    .container::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15rem;
        height: 10rem;
        background: url(../../assets/images/about/group-3.png) no-repeat;
    }
}