// FORM STYLE START
$border-none: none;
$outline-none: none;
$border-bottom-size: .2rem;
$outline-bottom-size: .2rem;
$outline-bottom-style: solid;
$outline-bottom-color: $rapture-blue;
$border-bottom-style: solid;
$border-bottom-color: $white-color;
$outline-bottom-color: $rapture-blue;
$textaera-padding-left: 1.4rem;
$textarea-font-size: 1.8rem;
$textarea-font-weight: 600;
$textarea-line-height: 2.5rem;
$textarea-letter-spacing: -0.012rem;
$textarea-text-color: $white-color;
$textarea-bg-color: transparent;
$textarea-opacity: .6;
$textare-resize: none;

.textarea,
.form__input{
    border: $border-none;
    outline-color: $outline-bottom-color;
    border-bottom: $border-bottom-size $border-bottom-style $border-bottom-color;
    outline: $outline-bottom-color;
    padding-left: $textaera-padding-left;
    padding-bottom: $textaera-padding-bottom;
    background: $textarea-bg-color;
    font-size: $textarea-font-size;
    font-weight: $textarea-font-weight;
    line-height: $textarea-line-height;
    letter-spacing: $textarea-letter-spacing;
    color: $textarea-text-color;
    resize: none;
}

// FORM INPUT AND TEXTAREA HOVER STYLEN START
$border-bottom-hover-color: $rapture-blue;

.form__input:hover,
.textarea:hover{
    border-bottom: $border-bottom-size $border-bottom-style $border-bottom-hover-color;
}

// FORM TEXTAREA ERROR STYLE START

// FORM TEXTAREA ERROR STYLE END
// FORM STYLE END