.header{
    padding-top: 7.7rem;
    .row{
        display: flex;
        align-items: center;
        h1{
            font-size: 4rem;
            color: $white-color;
            margin-right: 8rem;
        }
    }
    .menu__bar{
        display: none;
    }
}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 375px){
    
    .header{
        .nav__list,
        button{
            display: none;
        }
        .menu__bar{
            display: block;
        }
    }
}